.Profile {
    border: 1px solid black;
    margin: 1% auto;
    width: 80%;
    max-width: 80%;
    height: auto;
    padding: 0;
    float: right;
    margin-right: 20px;
}

.Profile-header {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Profile-header>h2 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.profileEditButton {
    display: inline-flex;
    width: 144px;
    padding: 5px 11px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #99DEF0;
    cursor: pointer;
}

.Profile-header>p {
    color: #000;
    /* Body/Body/Bold/L */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.18px;
    padding-right: 20px;
}

.Profile-main {
    border: 1px solid red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Profile-image {
    border: 1px solid green;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.avatarUser {
    width: 110px;
    height: 110px;
}

.form-profile {
    padding: 10px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-profile>input[type="text"],
input[type="email"],
input[type="tel"] {
    display: flex;
    width: 511px;
    height: 20px;
    padding: 9px 18px;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.profileEmailEdit {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profileEmailbuttonEdit {
    display: inline-flex;
    width: 144px;
    padding: 5px 11px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #99DEF0;
    cursor: pointer;
}


/* Image input */

.image-input {
    text-align: center;
}

.image-input input {
    display: none;
}

.image-input label {
    display: inline-flex;
    width: 196px;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    border: 1px solid #99DEF0;
    background: #D2F5FE;
    cursor: pointer;
}

.image-input label i {
    font-size: 125%;
    margin-right: 0.3rem;
}

.image-input label:hover i {
    animation: shake 0.35s;
}

.image-input img {
    max-width: 175px;
    display: none;
}

.image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
}


/* Animation keyframes */

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Other styles */

@media screen and (max-width: 575px) {
    .Profile {
        width: 90%;
        margin: 5%;
        height: auto;
    }
    .Profile-header>h2 {
        font-size: 1.5em;
    }
    .Profile-header>p {
        font-size: 1em;
    }
    .Profile-image {
        height: auto;
    }
    .avatarUser {
        width: 50px;
        height: 50px;
    }
    .form-profile>input[type="text"],
    .profileEmailEdit>input[type="email"],
    .form-profile>input[type="tel"] {
        width: auto;
        height: auto;
    }
    .profileEmailEdit {
        flex-direction: column;
    }
    .profileEmailbuttonEdit {
        width: 100%;
    }
    .image-input {
        width: 90%;
        margin: 0 auto;
    }
    .image-input label {
        width: 100%;
    }
    .Profile-main {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .form-profile {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
}