/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
    z-index: 9999;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}

.menu-item {
    flex: 1;
}


/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #a90000;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
    background-color: #fff;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #130f26;
}


/* Sidebar wrapper styles */

.bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 300px;
    /* Adjust the width of the sidebar */
    background: #130f26;
    overflow: hidden;
    /* Hide the scrollbars outside the menu */
}


/* General sidebar styles */

.bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    background: #130f26;
    overflow-y: auto;
    /* Enable vertical scrolling */
    color: #fff;
    width: 100%;
}


/* Hide vertical scrollbar */

.bm-menu::-webkit-scrollbar {
    width: 0.5em;
}

.bm-menu::-webkit-scrollbar-track {
    background: #130f26;
}

.bm-menu::-webkit-scrollbar-thumb {
    background: #130f26;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #130f26;
}


/* Wrapper for item list */

.bm-item-list {
    color: #fff;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--line, #d9dbe9);
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* 173.333% */
    letter-spacing: 0.75px;
    width: 100%;
}


/* Individual item */

.bm-item {
    display: block;
    padding: 0.5em;
    flex: 2;
}


/* Hover effect on individual item */

.bm-item:hover {
    background-color: #130f26;
    color: #fff;
    cursor: pointer;
}


/* Styling of overlay */

.bm-overlay {
    background: #fff;
    z-index: 9998;
}