* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #ccc;
    position: fixed;
    top: 0;
}

.container .sidebar {
    position: fixed;
    background: #130F26;
    height: 100vh;
    color: #fff;
    width: 207px;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sidebar li:nth-child(1) {
    padding: 30px 0px;
}

.sidebar li:hover:nth-child(1) {
    padding: 30px 0px;
    background-color: transparent;
    color: #000;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 30px;
}

.sidebar li span:nth-child(1) {
    font-size: 20px;
}

.sidebar li span:nth-child(2) {
    font-size: 20px;
}

.sidebar li:hover {
    background-color: #f2f2f2;
    padding: 12px;
}

.container .content {
    padding-left: 75px;
}

.userinfoNavbar {
    width: 100%;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.borderAvataruser {
    display: flex;
    width: 61px;
    height: 61px;
    fill: rgba(255, 243, 243, 0.00);
    align-items: center;
    margin-left: 10px;
    position: relative;
}


/* CSS */

.DashboardNavLink>li {
    padding: 0;
    background: #99def0;
    margin-top: 9%;
    margin-bottom: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: row;
}

.navbarIcon {
    width: 21.224px;
    height: 20px;
    color: black;
    display: flex;
    flex-direction: row;
}


/* To target the <Link> element inside the <li> */

.DashboardNavLink>li>a {
    color: #222;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.75px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* If you want to remove underline */
    width: auto;
    height: auto;
    font-size: 16px;
}


/* To target the <span> element inside the <li> */

.DashboardNavLink>li>span {
    /* Add your styles for the <span> element here */
    width: auto;
    height: auto;
}

.AvatarUser {
    width: 38px;
    height: 40px;
    position: absolute;
    right: 11px;
}

@media screen and (max-width: 575px) {
    .container {
        height: 100px;
        background-color: #ccc;
        position: relative;
        bottom: 0;
    }
    .container .sidebar {
        position: fixed;
        bottom: 0;
        background: #130F26;
        height: auto;
        color: #fff;
        width: 100%;
        margin: auto;
        z-index: 10;
        text-align: center;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
    }
    .sidebar li span:nth-child(2) {
        font-size: 5px;
    }
}